.wrapper {
    height: 350px;
    width: 350px;
    position: relative;
}

.canvas {
    border: 1px solid black;
    height: 350px;
    width: 350px;
    position: absolute;
    z-index: 1;
}

.canvasLogo {
    position: absolute;
    pointer-events: none;
    height: 250px;
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.canvasText {
    font-family: "Arial", serif;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    pointer-events: none;
    height: 100px;
    word-wrap: break-word;
    width: 200px;
    top: 40%;
    left: 58%;
    transform: translate(-40%, -50%);
    z-index: 2;
}

.marginTop {
    margin-top: 16px;
}

.actionButton {
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.actionButtons,
.justifyCenter {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.actionButtons {
    margin-bottom: 0 !important;
}

.inputText {
    font-family: "Arial", serif;
    font-size: 20px;
    font-weight: bold;
    width: 42%;
    height: 120px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
